<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(category) -%>">
  <span class='title'>
    <%= category.name %>

  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_calendar_admin_category_path(category),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.calendar_admin_category_path(category),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => category.name),
        :method => :delete %>
  </span>
</li>
