<% if @current.any? -%>
  <h2><%= t('.current_events') %></h2>
  <ul id='sortable_list'>
    <%= render :partial => 'event', :collection => @current %>
  </ul>
<% end -%>

<% if @upcoming.any? -%>
<h2><%= t('.upcoming_events') %></h2>
  <ul id='sortable_list'>
    <%= render :partial => 'event', :collection => @upcoming %>
  </ul>
<% end -%>

<% if @archived.any? -%>
  <h2><%= t('.archived_events') %></h2>
  <ul id='sortable_list'>
    <%= render :partial => 'event', :collection => @archived %>
  </ul>
<% end -%>
