<div id='records'>
  <% if searching? %>
    <h2><%= t('results_for', :scope => 'shared.admin.search', :query => params[:search]) %></h2>
  <% end %>
  <% if @events.any? %>
    <div class='pagination_container'>
      <%= render :partial => 'events' %>
    </div>
  <% else %>
    <p>
      <% unless searching? %>
        <strong>
          <%= t('.no_items_yet') %>
        </strong>
      <% else %>
        <%= t('no_results', :scope => 'shared.admin.search') %>
      <% end %>
    </p>
  <% end %>
</div>
<div id='actions'>
  <ul>
    <% if Admin::EventsController.searchable? %>
      <li>
        <%= render :partial => "/shared/admin/search",
                    :locals => {
                      :url => admin_events_url
                    } %>
      </li>
    <% end %>
    <li>
      <%= link_to t('.create_new'), new_admin_event_url,
                   :class => "add_icon" %>
    </li>
    
    <li>
      <%= link_to t('.manage_categories'), admin_event_categories_url,
                   :class => "edit_icon" %>
    </li>
  </ul>
</div>