<% content_for :stylesheets, stylesheet_link_tag('refinerycms-events') -%>
<% content_for :javascripts do -%>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js','refinery/core' %>
<% end -%>

<section id="commenting" class="events">
	<div id="flash_container">
    <%= render :partial => '/shared/no_script' %>
    <%= render :partial => "/shared/message" %>
  </div>
  
	<h2>Comments</h2>
	<% @event.comments.select(&:persisted?).each do |comment| -%>
  	<article>
  		<p><strong><%= comment.name %> wrote:</strong><br/>
  			&#8220;<%= strip_tags comment.comment %>&#8221;</p>
  		<div class="comment_meta">
  			<button>Reply</button>
  			<p>posted <%= comment.created_at.strftime('%b %d, %Y') %></p>
  		</div>
  	</article>
	<% end -%>
	
	<article class="reply">
		<p><strong>## TODO ## dosankodebbie wrote:</strong><br/>
			“thanks for the compliments. Hope it works out great!”</p>
		<div class="comment_meta">
			<p>posted jan 5, 2011</p>
		</div>
	</article>
		
</section><!--#commenting-->

<section id="leave_a_comment" class="events">
  <% if @comment.errors.any? -%>
    <div id="errors">
      <h3>Sorry. There was a problem while trying to save your comment</h3>
      <ul>
        <% @comment.errors.each do |attr, msg| -%>
          <li><%= "#{attr.to_s.titleize} #{msg}" %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>
	<h2>Leave a comment</h2>
	
	<%= form_for @comment, :url => comments_path(@event) do |f| %>
  	<p class='field'>
  	  <%= f.label :name %>
  	  <%= f.text_field :name %>
  	</p>
		<p class='field'>
  	  <%= f.label :comment %>
  	  <%= f.text_area :comment, :size => '30x5' %>
  	</p>
		<p>
			<button>Submit</button>
		</p>
	<% end -%>
	
</section><!--#leave_a_comment-->