<% content_for :body_content_title do %>
  <%= @venue.name %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @venue.name %>
    </p>
  </section>
  <section>
    <h1>Address</h1>
    <p>
      <%=raw @venue.address %>
    </p>
  </section>
  <section>
    <h1>Url</h1>
    <p>
      <%=raw @venue.url %>
    </p>
  </section>
  <section>
    <h1>Phone</h1>
    <p>
      <%=raw @venue.phone %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="venues">
      <% @venues.each do |venue| %>
        <li>
          <%= link_to venue.name, refinery.calendar_venue_path(venue) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
