<% 
	featured ||= false
	individual ||= false
	archive ||= false
	category ||= false
-%>

<%= div_for event, :class => 'individual_event' do -%>

	<section class="event_image">
  	<%= image_fu event.image, "150x150#c" %>
	</section>

	<% unless individual -%>
		<h1><%= link_to event.title, event %></h1>
	<% end -%>
	
	<section class="start_end">
		<p><%= t('.starts') %>:<br/>
		<%= event.start_at.strftime('%b %e, %Y %l:%M %p') %></p>
		<p><%= t('.ends') %>:<br/>
		<%= event.end_at.strftime('%b %e, %Y %l:%M %p') %></p>
  </section><!-- .start_end -->

  <section class="venue">
		<p><%= t('.location') %>:<br/>
		<%= event.venue_name %></p>
  </section>

  
  
  <% if event.venue_address.present? -%>
    <section class="address">
  		<p><%= t('.address') %>:<br/>
        <%= event.venue_address %>
      </p>
    </section>

	  <section id="event_map">
		</section><!-- #event_map -->
		
		<% content_for :javascripts do %>
      <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>
      <script type="text/javascript">
        function initialize() {
          var geocoder = new google.maps.Geocoder();
          var address = '<%= CGI::escape(event.venue_address) %>';

          if (geocoder) {
            geocoder.geocode({ 'address': address }, function (results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                var myOptions = {
                  zoom: 13,
                  center: results[0].geometry.location,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var infowindow = new google.maps.InfoWindow({
                    content: "<%= event.venue_name %>"
                });

                var map = new google.maps.Map(document.getElementById("event_map"), myOptions);
                var marker = new google.maps.Marker ({
                                position: results[0].geometry.location,
                                map: map
                              });   

                google.maps.event.addListener(marker, 'click', function() {
                  infowindow.open(map,marker);
                });

               }
               else {
                console.log("Geocoding failed: " + status);
               }
            });
          }
        }
        google.maps.event.addDomListener(window, 'load', initialize);

      </script>
    <% end %>
  <% end -%>

<% unless archive -%>
	<% unless event.ticket_price.blank? -%>
	  <section class="price">
	    <p><%= t('.ticket_price') %>:<br/>
	      <%=number_to_currency event.ticket_price %>
	    </p>
	  </section>
	<% end -%>
	<% unless event.ticket_link.blank? -%>
	  <section class="ticket">
	    <p><%= t('.ticket_link') %>:<br/>
	      <%=link_to event.ticket_link, event.ticket_link %>
	    </p>
	  </section>
	<% end -%>
<% end -%>

  <section>
		<% if individual -%>
    	<%=raw event.description %>
		<% else -%>
			<%= simple_format(truncate strip_tags(event.description), :length => 200) %>
		<% end -%>
  </section>
  

  
<% if individual -%>
	<section id="share_this_event">
	  <ul>
	    <li class="facebook"><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="<%= request.url %>" layout="box_count" show_faces="false" width="55" font=""></fb:like></li>
	    <li class="twitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
	  </ul>
	</section>

  <nav id="prevnext_nav">
		<% if event.prev.present? -%>
		  <%= link_to event_path(event.prev), :class => "prev button" do -%>
  			<h3><%= t('.previous') %></h3>
  			<h4><%=truncate event.prev.title, :length => 38 %></h4>
  		<% end -%>
	  <% else -%>
  	  <span class="prev disabled">
  	    <h3><%= t('.previous') %></h3>
				<h4>&nbsp;</h4>
  	  </span>
	  <% end -%>
	
		<%= link_to events_path, :class => "home button" do -%>
			<h3><%= t('.events') %></h3>
			<h4><%= t('.home') %></h4>
		<% end -%>
		
		<% if event.next.present? -%>
		  <%= link_to event_path(event.next), :class => "next button" do -%>
  			<h3><%= t('.next') %></h3>
  			<h4><%=truncate event.next.title, :length => 38 %></h4>
  		<% end -%>
    <% else -%>
  	  <span class="next disabled">
  	    <h3><%= t('.next') %></h3>
				<h4>&nbsp;</h4>
  	  </span>
	  <% end -%>
	</nav><!--#event_nav-->
<% end -%>

<% end -%>
