<% content_for :meta, "
                        <link 
                          rel='alternate' 
                          type='application/rss+xml' 
                          title='#{RefinerySetting.find_or_set(:site_name, 'Company Name')} Events'
                          href='#{events_url(:format => :rss)}' />".html_safe -%>
<% content_for :body_content_right do %>
	<aside class="sidebar_module rss">
		<h2>RSS</h2>
		<%= link_to "Subscribe", events_path(:format => :rss) %>
	</aside><!-- .rss -->
	
	<aside class="sidebar_module categories">
		<h2>Categories</h2>
		<% @event_categories.each do |category| -%>
		<%= link_to category.name, category_events_path(category) %>
		<% end -%>
	</aside><!-- .categories -->
	
	<% unless controller.action_name == "index" or controller.action_name == "archive" -%>
	  <aside class="sidebar_module other_events">
	    <h2><%= t('.other') %></h2>
	    <ul id="events">
	      <% @other_events.each do |event| %>
	        <li>
	          <%= link_to event.title, event_url(event) %>
	        </li>
	      <% end %>
	    </ul>
	  </aside><!-- .other_events -->
	<% end -%>
	
	<aside class="sidebar_module archives">
		<h2>Archives</h2>
		<%= events_archive_list %>
	</aside><!-- .archives -->
	
<% end %>