<% content_for :body_content_title do -%>
  <% date_format = params[:month].present? ? '%B %Y' : '%Y' -%>
  <%= "Events posted in #{@archive_date.strftime(date_format)}" %>
<% end -%>

<% content_for :body_content_left do %>
  <div id="events">
		<%= render :partial => 'event', :collection => @events, :locals => { :archive => true } %>
	</div>
  <%= will_paginate @events %>
<% end %>

<%= render 'events/sidebar' %>

<%= render :partial => "/shared/content_page" %>

<% content_for :stylesheets, stylesheet_link_tag('refinerycms-events') %>