<% content_for :body_content_title do %>
  <%= @event.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @event.title %>
    </p>
  </section>
  <section>
    <h1>Start At</h1>
    <p>
      <%=raw @event.start_at %>
    </p>
  </section>
  <section>
    <h1>End At</h1>
    <p>
      <%=raw @event.end_at %>
    </p>
  </section>
  <section>
    <h1>Venue Name</h1>
    <p>
      <%=raw @event.venue_name %>
    </p>
  </section>
  <section>
    <h1>Venue Address</h1>
    <p>
      <%=raw @event.venue_address %>
    </p>
  </section>
  <section>
    <h1>Ticket Price</h1>
    <p>
      <%=raw @event.ticket_price %>
    </p>
  </section>
  <section>
    <h1>Ticket Link</h1>
    <p>
      <%=raw @event.ticket_link %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @event.description %>
    </p>
  </section>
  <section>
    <h1>Image</h1>
    <p>
      <%= image_fu @event.image, nil %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="events">
      <% @events.each do |event| %>
        <li>
          <%= link_to event.title, event_url(event) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
