<% content_for :body_content_title do %>
  <%= @event.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <%= image_fu @event.image, nil %>
    
    <h1>Start At</h1>
    <p>
      <%= @event.start_at %>
    </p>
  </section>
  <section>
    <h1>End At</h1>
    <p>
      <%= @event.end_at %>
    </p>
  </section>
  <section>
    <h1>Venue Name</h1>
    <p>
      <%= @event.venue_name %>
    </p>
  </section>
  <section>
    <h1>Venue Address</h1>
    <p>
      <%= @event.venue_address %>
    </p>
  </section>
  <section>
    <h1>Ticket Price</h1>
    <p>
      <%=number_to_currency @event.ticket_price %>
    </p>
  </section>
  <section>
    <h1>Ticket Link</h1>
    <p>
      <%=auto_link @event.ticket_link %>
    </p>
  </section>
  <section>
    <%=raw @event.description %>
  </section>
  
  <nav id="prevnext_nav">
		<% if @event.prev.present? -%>
		  <%= link_to event_path(@event.prev), :class => "prev button" do -%>
  			<h1>Previous</h1>
  			<h2><%= @event.prev.title %></h2>
  		<% end -%>
		<% end -%>
		
		<%= link_to events_path, :class => "home button" do -%>
			<h1>Events</h1>
			<h2>Home</h2>
		<% end -%>
		
		<% if @event.next.present? -%>
		  <%= link_to event_path(@event.next), :class => "next button" do -%>
  			<h1>Next</h1>
  			<h2><%= @event.next.title %></h2>
  		<% end -%>
  	<% end -%>
	</nav><!--#event_nav-->
	
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="events">
      <% @events.each do |event| %>
        <li>
          <%= link_to event.title, event_url(event) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
