<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(event) -%>">
  <span class='title'>
    <%= event.title %>
  </span>
  <span class='preview'>
    <%= event.starts.strftime('%b %e, %Y %I:%M%p') %> to <%= event.ends.strftime('%b %e, %Y %I:%M%p') %>
  </span>
  <span class='actions'>
  </span>
</li>
