<section id="records">
  <h2><%= t('refinery.plugins.refinery_calendar.title') %>: <%= t('refinery.plugins.events.title') %></h2>
  <%= render 'records' %>
</section>

<aside id="actions">
  <%= render 'actions' %>
</aside>

<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::Calendar::Admin::EventsController.sortable? and ::Refinery::Calendar::Event.count > 1 %>
