<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(event_category) -%>">
  <span class='title'>
    <%= event_category.name %>
    <span class="preview"></span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), category_events_url(event_category),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_event_category_path(event_category),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_event_category_path(event_category),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => event_category.name),
        :method => :delete %>
  </span>
</li>
