<%= form_for [:admin, @event_category] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @event_category,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name, :class => 'larger widest' -%>
  </div>
    
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.event_categories.event_category'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @event_category.name)
              } %>
<% end -%>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
