<% content_tag ||= :div   %>
<% state       ||= :short %>


<% categories = capture do %>
  <% if event.categories.any?%>
    <hr />
    <p class='event_categories'>
      <%= t ('.categories') %>:
      <%= event.categories.map do |category|%>
      <% link_to( category.name, refinery.calendar_category_path(category)) %>
      <% end.join(', ').html_safe %>
    </p>
  <% end %>
<% end %>


<%= content_tag_for content_tag, event, class: ( event.image.present? ? "with-image" : "without-image" ) do -%>

  <% if state == :short %>

    <% if event.image.present? %>
      <p class="event_image"><%= image_fu( event.image, '80x80#') %></p>
    <% end %>

    <time class="event_date" datetime="<%= event.from %>">
      <%= l(event.from, format: :calendar_simple) %>
    </time>
    <h1><%= link_to event.title, refinery.calendar_event_path(event) %></h1>
    <p class="event_excerpt"><%= event.excerpt %></p>


  <% else %>

      <h1><%= event.title %></h1>


      <% if @event.excerpt %>
        <div class="event_excerpt">
          <p><%= @event.excerpt %></p>
        </div>
      <% end %>

      <% if @event.image.present? %>
        <p class="event_image"><%= image_fu( @event.image, '220x600') %></p>
      <% end %>

      <% if @event.registration_link.present? %>
        <p><%= link_to t('.register', default: 'Register for this event'), @event.registration_link %></p>
      <% end -%>

      <% if @event.venue_address.present? %>
        <p><%= link_to t('.view_on_map', default: 'View it on a map'), "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=#{CGI::escape(@event.venue.address)}&ie=UTF8&z=16" %></p>
      <% end -%>

      <% if @event.description %>
        <div class="event_description">
          <%= raw @event.description %>
        </div>
      <% end %>


      <% if @event.venue_name %>
        <hr />
        <p><%= t('.venue') %>: <%= @event.venue_name %></p>
      <% end %>

      <% if @event.venue_address %>
        <hr />
        <p><%= t('.address') %>: <%= @event.venue_address %></p>
      <% end %>

      <% if @event.from  %>
        <hr />
        <p class="event_date">
            <% is_period = event.from && event.to && event.from != event.to %>
            <% if is_period %>
              <%= t('.from', default: 'From') %>:
            <% end %>
            <%= l(@event.from, format: :calendar_detailed) %>
            <% if is_period %>
              <br>
              <%= t('.to', default: 'To') %>: <%= l(@event.to, format: :calendar_detailed) %>
            <% end %>
        </p>
      <% end %>

      <%= categories %>

  <% end %>

<% end -%>
