<% content_for :title do %>
  <%= @event.title %>
<% end %>

<% content_for :body_content_left do %>
  <h4><%= t('event_details', :scope => 'refinery.calendar.events.show') %></h4>
  <h5><%= @event.venue_name %></h5>

  <p>
    <time datetime="<%=l @event.start_at, :format => :default %>" class='posted_at'>
      <%= t('start', :scope => 'refinery.calendar.events.show', :when => l(@event.start_at.to_datetime, :format => :long)) %>
    </time>
  </p>
  <p>
    <time datetime="<%=l @event.start_at, :format => :default %>" class='posted_at'>
    <%= t('end', :scope => 'refinery.calendar.events.show', :when => l(@event.end_at.to_datetime, :format => :long)) %>
    </time>
  </p>

  <% if @event.registration_link.present? %>
    <p><%= link_to t('register', :scope => 'refinery.calendar.events.show'), @event.registration_link %></p>
  <% end -%>

  <% if @event.venue_address.present? %>
    <p><%= link_to t('view_on_map', :scope => 'refinery.calendar.events.show'), "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=#{CGI::escape(@event.venue.address)}&ie=UTF8&z=16" %></p>
  <% end -%>

  <div class="event_description">
    <h4><%= @event.excerpt %></h4>
    <%=raw @event.description %>
  </div>
<% end %>

<% content_for :stylesheets, stylesheet_link_tag('events') %>

<%= render '/refinery/content_page' %>
